html{
  background: url(../assets/images/website-design-background.png);
   background-size: cover;
   height:100%;
}

h3 {
  background-color: #C0C0C0;
  color: white;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#list-form {
  margin-top: 5px;
  margin-left: 20px;
  max-width:100%;
  position: absolute;
}

body {
   color: #C0C0C0;
   font-family: Arial, san-serif;
}

.list{
  padding-right: 180px;
  padding-top: 15px
  font-size: 20px

}

table a {
text-decoration:none;
color:white;
}
